@use "@/styles/variables" as *;

.chartSmall {
    height: 140px;
}
.chartMedium {
    height: 260px;
}
.chartLarge {
    height: 340px;
}

.suggestions {
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 8px;
}

.suggestionItem {
    padding: 12px;
    background: $white;
    border: 1px solid $border;
    border-radius: 12px;
    color: $text-muted;
    background: $off-white;
    font-weight: 700;
}
